<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCxiF_hgMeIOD2u9PkTtStON9sYP7r38Yc</string>
	<key>GCM_SENDER_ID</key>
	<string>1056612815741</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ysf.pushNoti</string>
	<key>PROJECT_ID</key>
	<string>pushnoti-3e87c</string>
	<key>STORAGE_BUCKET</key>
	<string>pushnoti-3e87c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1056612815741:ios:74e54633bcffad2a1ff214</string>
</dict>
</plist>